.header {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;        
  height: 40px;  
  background-color: #a4c991;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
